<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640346134429-ekao13rjf9gqgjq05hits6unh44rklf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640346134429-ekao13rjf9gqgjq05hits6unh44rklf1</string>
	<key>API_KEY</key>
	<string>AIzaSyAGKQuqEdOS04UI3ZeMEMJagtpfVLjASPI</string>
	<key>GCM_SENDER_ID</key>
	<string>640346134429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.StarBox</string>
	<key>PROJECT_ID</key>
	<string>starbox-2c6bb</string>
	<key>STORAGE_BUCKET</key>
	<string>starbox-2c6bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640346134429:ios:21d4eb04e0c0cd64c4c174</string>
</dict>
</plist>